/* Setting on every element */
* {
    box-sizing: border-box;
}

/* Body styling */
body {
    //background: map-get($color-defs, body);
    //color: map-get($color-defs, body-text);
    font-family: map-get($text, body);
    /* Push down site content for fixed navbar */
    padding-top: 75px;
}

/* Remove underline on links */
a {
    text-decoration: none;
}

/* Remove list bullets */
ul {
    list-style-type: none;
}
