/* Setting on every element */
* {
    box-sizing: border-box;
}

/* Body styling */
body {
    background: map-get($color-defs, body);
    color: map-get($color-defs, body-text);
    font-family: map-get($text, body);
    font-weight: map-get($text, body-weight);
    /* Push down site content for fixed navbar */
    padding-top: 75px;
}

/* Color when user selects text */
::selection {
    background: map-get($color-defs, selection);
    color: map-get($color-defs, selection-text);
}

/* Remove underline on links */
a {
    text-decoration: none;
    color: map-get($color-defs, body-text);
}

/* Remove list bullets */
ul {
    list-style-type: none;
}

/* Main styling */
main {
    padding: 1em;
    margin-bottom: 1em;
    background: map-get($color-defs, main);
    border-radius: 5px;
}

/* E-mail formatting */
.e-mail {
    font-family: map-get($text, e-mail);
}

h1, h2 {
    font-family: map-get($text, headline);
    font-weight: map-get($text, headline-weight);
    text-shadow: 1px 1px 10px map-get($color-defs, heading-background);
}

h3 {
    font-weight: 800;
}