#conductors-specific-page {

    blockquote {
        margin-left: 1em;
    }

    $img-size: 300px;

    .conductor-header {
        background: map-get($color, main);
        display: grid;
        grid-template-columns: auto $img-size auto;
        grid-template-rows: $img-size;
        align-items: end;
        justify-items: center;
        margin-bottom: 1em;
        padding: 1em;

        img {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            height: $img-size;
            width: $img-size;
            filter: grayscale(100%) drop-shadow(10px 10px 5px);
        }

        h3 {
            z-index: 1;
            background: map-get($color, main-transparency);
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            font-size: 3em;
            text-align: center;
            
            .h3-subtitle {
                color: map-get($color, bright);
                display: block;
                margin-top: 4px;
            }
        }

    }

    h4 {
        font-size: 25px;
    }

    .musical-background {

        $list-item-size: 20px;

        li {
            font-size: $list-item-size;
            margin-bottom: 10px;

            &::before {
                background-image: url('../images/music-note-green.png');
                background-size: $list-item-size $list-item-size;
                display: inline-block;
                width: $list-item-size; 
                height: $list-item-size;
                content:"";
                margin-right: 5px
            }
        }
    }
}