
#welcome-message {
    padding-bottom: 1em;

    // Logotype image
    img {
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    // Brand name
    h1 {
        text-align: center;
    }
}

#welcome-page {

    // Main content
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond-to("medium"){
            flex-direction: row;

            #calendar {
                width: 49%;
                order: 1;
            }

            #happenings {
                width: 49%;
            }
        }

        // Calendar
        #calendar {
            table {
                tr {        
                    &.passed-event {
                        background: map-get($color, grey);
                    }
        
                    .date {
                        width: 50px;
                    }
            
                    .time {
                        width: 50px;
                    }
                }
            }
        }

        // Happenings
        #happenings {

            .facebook-feed {
                width: 100%;
                text-align: center;
                .fb-page {
                    margin: 0 auto;
                }
            }
        }

    }
    
}